:root {
    Background-image: url(https://i.pinimg.com/originals/32/44/7e/32447e80862579ffd32acdd28186aeec.gif);
    background-repeat: no-repeat;
    background-size: cover;
/*border:  solid aquamarine;
border-width: 10px;
*/
}

main{
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left:   5px;
    padding-right: 5px;

/*border:  solid aquamarine;
border-width: 10px;
*/

}

header {
    position: relative;
    bottom: 10px;
}

body {
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    padding: auto;
    margin: auto;
    
}

#logo {
    width: 125px;
    length: 125px;
    margin: auto;
    /*-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);*/
}

select, input, textarea {
    border-radius: 10px;
    padding: 5px;
}

button{
    border-radius: 5px;
    background-color: rgb(61, 145, 255);
    width: 50px;
    height: 30px;
    position: relative;
    top: 16px;
    left: 60px;
    
}



#outofbox {
    text-shadow: 2px 2px rgb(61, 145, 255);
    font-weight: bold;
    color: seashell;
    margin: auto;
    /*-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);*/
}


#description {
font-weight: bold;


}

#checkboxes{
    white-space: nowrap;
}

.label1 {
   display: block;
   position: relative;
   right: 2.9em;
   color: seashell;
}
#number-label {
    position: relative;
    right: 3.3em;
}

textarea {
    width: 300px;
    height: 40px;
    overflow: auto;
    resize: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

#message-label {
    position: relative;
    bottom: 2.2em;
   
}

#submit {
    position: relative;
    left: .5em;
}

 #svform {
    border-radius: 6px;
     position: relative;
  
    /*background-image: linear-gradient(rgb(0, 174, 255),rgb(0, 74, 235));*/
background-color: seashell;
    width: 360px;
  margin: auto;
  border: 15px solid rgb(61, 145, 255);
  padding: 10px;
  padding-bottom: 30px;
  /*-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);*/

}

.forminput, .form-control {
    width: 150px;
}


#dropdown-label {
    position: relative;
    bottom: 15px;
    }

#dropdowngroup {
    padding-top: 20px;
    }

    #text {
        position: relative;        
    }

    /* #logo {
        position: relative; 
        bottom: 20px;
    } */
